main {
  border: 20px dotted transparent;
  border-image: url("/assets/border.png") 30;
  border-image-repeat: round;
  background-image: url("/assets/backdrop.png");
  background-size: 100% 100%;
}

.game-text-bg {
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 90%);
}

