/* .backdrop {
  background-image: url("/assets/backdrop.png");
  background-repeat: no-repeat;
  background-position: center;
} */

/* .login{
  background-image: url("/assets/login.png");
  background-size: contain;
  background-position: center; */
  /* backgroundPosition: center; */
  /* width: 100%; */
  /* height: 100%; */
  /* backgroundImage: 'url("your-image-url.jpg")', */
      
      
  /* background-repeat: no-repeat; */
  /* background-position: center; */
/* } */



